.Bookingpricing {
    height: 90vh;
    margin-top: 5rem;
    &__bookinghtag {
        margin-left: 6rem;
        h1 {
            font-size: 1.7rem;
            color: var(--darkblue);
            font-weight: 500;
        }
        h2 {
            font-size: 1.54rem;
            color: var(--grey);
            font-weight: 500;
            margin-top: 1.1rem;
        }
    }
    &__radio {
        margin-left: 6.7rem;
        margin-top: 1rem;
        .ant-radio-group {
            display: grid;
            grid-template-columns: 1.281991fr 1.34fr 1fr;
        }
        span.ant-radio + * {
            padding-right: 8px;
            padding-left: 10px;
            font-size: 1.9rem;
            color: black;
            font-weight: 500;
        }
        &__group {
            margin-left: -0.2rem;
            .ant-radio-inner {
                margin-left: 0.7rem;
            }
        }
        &__below {
            display: grid;
            justify-items: center;
            margin-top: 2.9rem;
            margin-left: -1.6rem;
            .ant-radio-inner {
                margin-left: -6.8rem;
            }
        }
        .ant-radio-inner,
        .ant-radio-checked .ant-radio-inner {
            border-color: var(--darkblue);
            border: 2px solid var(--darkblue);
            border-color: var(--darkblue);
        }
        .ant-radio-inner {
            height: 18px;
            width: 18px;
        }
        .ant-radio-inner::after {
            background-color: var(--darkblue);
            top: 2px;
            left: 2px;
            height: 10px;
            width: 10px;
        }
    }
    &__divider {
        display: grid;
        justify-items: center;
        margin-left: 1rem;
        p {
        }
        .ant-input:hover,
        .ant-input {
            border-color: #40a9ff;
            border-right-width: 1px !important;
            border: none;
            border-bottom: 1.35px solid var(--grey);
            height: 3rem;
            width: 6rem;
        }
        &__outerdiv {
            display: grid;
            justify-items: center;
            margin-left: 4.5rem;
            height: 4.6rem;
            width: 38%;
        }
        &__innerdiv {
            width: 63%;
            display: flex;
            justify-content: space-evenly;
            margin-top: -0rem;
            border: 1px solid #e6e6e6;
            padding-left: 0rem;
            transform: translateX(-1.4rem);
            opacity: 0.7;
        }
        p {
            transform: translateY(1rem);
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0 3rem;
        }
    }
    &__Breadcrumb {
        margin-top: 2.5rem;
        margin-left: 5.9rem;

        &__h1 {
            h1 {
                font-size: 1.55rem;
                color: var(--grey);
            }
        }
        &__items {
            margin-top: 2rem;
            padding-left: 4rem;
            border: 1px solid #e6e6e6;
            width: 28rem;
            margin-left: 0.5rem;
            height: 5.2rem;
            padding-top: 0.3rem;
            white-space: nowrap;
            span.ant-breadcrumb-link {
                font-size: 2.5rem;
            }
            &__span {
                font-size: 1.6rem;
                margin-left: 1rem;
                font-weight: 500;
                color: var(--grey);
            }
            .ant-breadcrumb-separator {
                margin-left: 2rem;
                margin-right: 5rem;
                font-size: 2.2rem;
            }
        }
    }
    &__payment {
        p {
            color: red;
            margin-top: 2.5rem;
            margin-left: 6rem;
            font-size: 1.35rem;
            font-weight: 400;
        }
    }
    &__button {
        display: grid;
        grid-template-columns: min-content min-content;
        justify-items: center;
        justify-content: center;
        margin-top: 7.5rem;
        grid-column-gap: 7.6rem;
        margin-left: 6rem;
        .ant-btn {
            height: 5.1rem;
            width: 15.5rem;
        }
        &__preview {
            .ant-btn {
                color: white;
                background-color: var(--darkblue);
                font-weight: 300;
                border-radius: 5rem;
                font-size: 1.6rem;
            }
        }

        &__exit {
            .ant-btn {
                color: var(--darkblue);
                background-color: white;
                font-weight: 400;
                border-radius: 5rem;
                font-size: 1.6rem;
                border: 1px solid var(--darkblue);
            }
            transform: translateX(-0.5rem);
        }
    }
}
