.TitleofCategory {
    padding-top: 2.4rem;
    &__Breadcrumb {
        margin-top: 0.5rem;
        margin-left: 6rem;
        font-weight: 600;
        color: var(--grey);
        .ant-breadcrumb > span:last-child a {
            color: var(--grey);
            font-weight: 500;
        }
        .ant-breadcrumb-separator {
            font-size: 2.5rem;
            position: relative;
            top: 0.5rem;
            opacity: 0.5;
        }
    }
    &__Title {
        margin-top: 3.5rem;
        margin-left: 6rem;
        h1 {
            font-size: 1.7rem;
            color: var(--darkblue);
            font-weight: 500;
        }
    }
    &__input {
        margin-top: 1.5rem;
        width: 94%;
        margin-left: 5.9rem;

        .ant-input {
            line-height: 2.7;
            font-size: 1.55rem;
            font-weight: 500;
            color: var(--grey);
            padding-left: 0.5rem;
            font-weight: 600;
        }
    }
    &__Createroom {
        display: grid;
        justify-items: center;
        margin-top: 2.7rem;

        color: var(--darkblue);
        font-weight: 500;
        &__h1 {
            font-size: 1.7rem;
            color: var(--darkblue);
            margin-left: 9.2rem;
            margin-top: 0.3rem;
        }
        &__miuszeroplus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // border: 1.1px solid #e6e6e6;
            height: 4.4rem;
            width: 30%;
            margin-top: -0.1rem;
            justify-content: center;
            margin-left: 8.9rem;
            justify-items: center;
        }
        &__mimus {
            font-size: 3.4rem;

            border: 1.1px solid #e6e6e6;
            height: 4.4rem;
            width: 8rem;
            display: grid;
            justify-items: center;
            padding-top: 0.45rem;
            padding-left: 1rem;
            filter: opacity(0.6);
        }
        &__zero {
            border: 1.1px solid #e6e6e6;
            height: 4.4rem;
            width: 15.5rem;
            display: grid;
            justify-items: center;
            h1 {
                color: var(--darkblue);
                font-weight: 500;
                font-size: 2.6rem;
                margin-left: 0.3rem;
                margin-top: 0.4rem;
            }
        }
        &__plus {
            border: 1.1px solid #e6e6e6;
            height: 4.4rem;
            width: 8rem;
            font-size: 3.4rem;
            display: grid;
            justify-items: center;
            padding-top: 0.15rem;
            filter: opacity(0.6);
            // margin-left: 1.6rem;
            padding-top: 0.53rem;
        }
    }
}
