.CheckBoxes {
    margin-top: 5.15rem;
    margin-left: 7.7rem;
    .ant-checkbox-group {
        display: grid;
        grid-template-columns: 13rem 34rem 30rem 19rem;
        margin-bottom: 1.15rem;
    }
    .ant-checkbox-inner {
        top: -0.3rem;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
        display: none;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: var(--darkblue);
        border-color: var(--darkblue);
    }
    .ant-checkbox-inner {
        border-radius: 2px;
        width: 13px;
        height: 13px;
    }
    .ant-checkbox-group-item:nth-child(2) {
        margin-left: 4.3rem;
    }
    .ant-checkbox-group-item:nth-child(3) {
        margin-left: 7.5rem;
    }
    .ant-checkbox-group-item:nth-child(4) {
        margin-left: 3rem;
    }
    .ant-checkbox + span {
        padding-right: 8px;
        padding-left: 10px;
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--grey);
    }
    &__firstdiv {
    }
    & div:nth-child(2) {
    }
    & div:nth-child(3) {
    }
    & div:nth-child(4) {
    }
    & div:nth-child(5) {
    }
}
