.Description {
    margin-top: 3rem;
    &__h1 {
        color: var(--darkblue);
        font-weight: 500;
        font-size: 1.76rem;
        margin-left: 6rem;
    }
    &__input {
        width: 94%;
        display: flex;
        margin: 0 auto;
        background-color: red;
        height: 22.4rem;
        margin-top: 1.5rem;
        margin-left: 6rem;
        .ant-input {
            padding-top: 1.5rem;
            font-size: 1.5rem;
            padding-left: 1.2rem;
            font-weight: 500;
            color: #8c9094;
            opacity: 1;
            font-weight: 600;
        }
    }
}
