.Header {
    background-color: #ffffff;
    height: 12vh;
    // background-color: crimson;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__imgAndSearchbar {
        display: flex;
        &__img {
            display: grid;
            justify-items: center;
            align-items: center;
            padding-top: 0.5rem;
        }
        img {
            width: 78%;
            margin-left: -2.8rem;
        }
        &__searchbar {
            display: grid;
            align-items: center;
            margin-left: 1.5rem;
            width: 63%;
            margin-top: -0.5rem;
            .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
                border-bottom-left-radius: 3rem;
                border-top-left-radius: 3rem;
                line-height: 3;
                background-color: var(--skyblue);
                padding-left: 2.4rem;
                border: none;
            }
            .ant-input-search
                > .ant-input-group
                > .ant-input-group-addon:last-child
                .ant-input-search-button:not(.ant-btn-primary) {
                border: none;
                background: var(--darkblue);
                color: white;
                margin-right: 0.4rem;
                margin-top: 0.3rem;
                height: 3.5rem;
                border-radius: 5rem;
            }
            .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
                border-bottom-right-radius: 3rem;
                border-top-right-radius: 3rem;
                background-color: var(--skyblue);
                z-index: 100;
            }
            .ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
                background: var(--skyblue);
                padding-top: 0.4rem;
                font-size: 1.215rem;
                padding-left: 0.6rem;
                font-weight: 500;
                &::placeholder {
                    color: var(--grey);
                }
            }
            .ant-input-group .ant-input {
                font-size: 1.14rem;
            }
        }
    }

    &__iconsAndSelect {
        justify-self: end;
        display: grid;
        justify-items: center;
        align-items: center;
        min-width: 27.5%;
        grid-template-columns: repeat(3, min-content);
        padding-top: 0.5rem;
        filter: opacity(0.7);
        margin-right: -4rem;
        img {
            width: 1.7rem;
        }

        &__bell {
            margin-right: 1.1rem;
            margin-left: 0.2rem;
        }
        &__user {
            margin-right: 1rem;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            background-color: transparent;
            border: none;
            color: black;
            margin-left: -0.3rem;
        }
    }
}
