.RootComponentsOfLisiting {
    overflow: hidden;
    &__header {
        overflow: hidden;
    }
    &__sidebarPlusListing {
        display: grid;
        grid-template-columns: 13% 87%;
        &__positionProblem {
            // background-color: crimson;
        }
        &__Sidebar {
            padding-top: 1.8rem;
            background-color: #ffffff;
            margin-left: 7rem;
            width: 13%;
        }
        &__Listing {
            background-color: var(--skyblue);
            padding-top: 3rem;
            margin-left: -0.3rem;
            &__h1 {
                color: var(--darkblue);
                margin-left: 4.8rem;
                font-size: 2rem;
                font-weight: 600;
                margin-top: -0.2rem;
            }
        }
    }
}
