@mixin plusicons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 5.2rem;
    height: 13rem;
    margin-left: -0.8rem;
    & div:nth-child(1) {
        width: 63%;
        display: grid;
        justify-self: end;
        justify-items: center;
        filter: opacity(0.3);
        color: var(--darkblue);
        border: 1px solid #d8c1c1;
        * {
            margin-top: 1.8rem;
        }
    }
    & div:nth-child(2) {
        width: 63%;
        display: grid;
        justify-self: end;
        justify-items: center;
        filter: opacity(0.3);
        color: var(--darkblue);
        border: 1px solid #d8c1c1;
        transform: translateX(-0.7rem);
        * {
            margin-top: 1.8rem;
            margin-left: -0.2rem;
        }
    }
    & div:nth-child(3) {
        width: 63%;
        display: grid;
        justify-self: end;
        justify-items: center;
        filter: opacity(0.3);
        color: var(--darkblue);
        border: 1px solid #d8c1c1;
        transform: translateX(-1.6rem);
        * {
            margin-top: 1.8rem;
            margin-left: 0.6rem;
        }
    }
}

.UploadImages {
    margin-top: 5.9rem;
    &__h1div {
        margin-left: 6.1rem;
        h1 {
            font-size: 1.69rem;
            font-weight: 500;
            color: var(--darkblue);
        }
    }
    &__plus {
        display: grid;
        grid-template-columns: 35.4% 65%;
        margin-top: -0.3rem;
        margin-left: 0.8rem;
        margin-top: -1rem;
        &__bigplus {
            height: 28.5rem;
            font-size: 10rem;
            color: var(--darkblue);
            filter: opacity(0.3);
            width: 100%;
            display: grid;
            justify-items: center;
            align-items: center;
            margin-top: 0.5rem;
            div {
                border: 1px solid #d8c1c1;
                margin-left: 2.4rem;
                width: 82%;
                margin-top: -1rem;
                height: 27.5rem;
                display: grid;
                justify-items: center;
                align-items: center;
                justify-content: center;
            }
        }
        &__plusicons {
            margin-top: 0.5rem;
            display: grid;
            &__first3plus {
                @include plusicons();
            }
            &__second3plus {
                @include plusicons();
                margin-top: -0.3rem;
                & div:nth-child(1) {
                    * {
                        margin-top: 2.5rem;
                    }
                }
                & div:nth-child(2) {
                    * {
                        margin-top: 2.4rem;
                    }
                }
                & div:nth-child(3) {
                    * {
                        margin-top: 2.4rem;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}
