.Sidebar {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 0.2rem;
    p {
        margin-top: 1rem;
        font-size: 1.18rem;
        margin-left: 0.31rem;
        font-weight: 600;
        white-space: nowrap;
    }
    &__activep {
        color: var(--darkblue);
    }

    &__dashbord {
        margin-top: 0.2rem;
        img {
            background-color: var(--darkblue);
            width: 5.1rem;
            padding: 1.42rem;
            border-radius: 1.33rem;
        }
    }
    &__Calender {
        margin-top: 3.4rem;
        margin-left: 0.3rem;
        img {
            width: 2.5rem;
        }
        p {
            margin-top: 2.2rem;
            margin-left: -0.3rem;
        }
    }
    &__Listings {
        margin-top: 2.3rem;
        margin-left: 0.3rem;
        img {
            width: 2.5rem;
        }
        p {
            margin-top: 2.6rem;
            margin-left: -0.3rem;
        }
    }

    &__payments {
        margin-top: 1.7rem;
        margin-left: 0.3rem;
        img {
            width: 2.5rem;
        }
        p {
            margin-top: 2.6rem;
            margin-left: -0.3rem;
        }
    }

    &__Reports {
        margin-top: 1.9rem;
        margin-left: -0.3rem;
        img {
            width: 2.5rem;
        }
        p {
            margin-top: 2.4rem;
            margin-left: -0.3rem;
        }
    }

    &__User {
        margin-top: 3.1rem;
        margin-bottom: 1.7rem;
        margin-left: 0.3rem;
        img {
            width: 2.5rem;
        }
        p {
            margin-top: 2.6rem;
            margin-left: -0.3rem;
        }
    }
    &__logout {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        transform: translate(-0.4rem, 4rem);
        img {
            width: 1.7rem;
        }
        p {
            margin: 0;
            margin-left: 1rem;
        }
    }
}
