.AddAmenities {
    margin-top: 5.7rem;
    &__add {
        &__h1 {
            margin-left: 6rem;
            font-size: 1.68rem;
            color: var(--darkblue);
            font-weight: 500;
        }
        &__search {
            display: grid;
            justify-items: center;
            margin-top: 3.1rem;
            height: 4.3rem;
            div {
                width: 43%;
                height: 4.3rem;
                margin-left: 13.6rem;
                display: flex;
                position: relative;
                .ant-btn-primary {
                    background-color: var(--darkblue);
                    height: 4.3rem;
                    width: 9.5rem;
                    position: absolute;
                    right: 0;
                    border-radius: 5rem;
                    padding-right: 2.6rem;
                }
                .ant-input {
                    font-size: 1.3rem;
                    padding-left: 1.2rem;
                    font-weight: 500;
                    color: #8c9094;
                    opacity: 1;
                    font-weight: 600;
                    border-radius: 5rem;
                }
            }
            .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
                padding-top: 0;
                padding-bottom: 0;
                width: 9.5rem;
                border-radius: 5rem;
                color: white;
                background: var(--darkblue);
                font-size: 1.3rem;
                margin-top: -0.05rem;
                padding-right: 3rem;
                height: 4.3rem;
                margin-left: -4rem;
            }
            .ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
                font-size: 1.3rem;
                padding-bottom: 0.7rem;
            }
            .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
                border-top-left-radius: 5rem;
                border-bottom-left-radius: 5rem;
            }
        }
    }
    &__suggest {
        margin-top: 2.6rem;

        &__h1 {
            margin-left: 11rem;
            margin-top: -0.4rem;
            font-size: 1.48rem;
            color: var(--darkblue);
            font-weight: 500;
            display: grid;
            margin-top: 3.1rem;
            justify-items: center;
            margin-bottom: 1.6rem;
        }
        &__usersuggestions {
            margin: 0 auto;
            @mixin suggestion {
                div {
                    border: 1px solid #e6e6e6;
                    width: 15rem;
                    height: 2.6rem;
                    border-radius: 5rem;
                    font-size: 1rem;
                    margin-left: 6.6rem;
                    p {
                        padding-left: 1rem;
                        position: relative;
                        padding-top: 0.5rem;
                        color: var(--grey);
                    }
                    .anticon {
                        position: absolute;
                        right: 6px;
                        top: 7px;
                    }
                }
            }
            &__firstrow {
                display: flex;
                width: 88.6%;
                margin-left: 7rem;
                justify-content: center;
                @include suggestion();
                margin-top: 1.9rem;
                & div:nth-child(1) {
                }
                & div:nth-child(3) {
                    transform: translateX(-2rem);
                }
                & div:nth-child(4) {
                    transform: translateX(-3.8rem);
                }
                & div:nth-child(5) {
                    transform: translateX(-3.8rem);
                }
            }
            &__secondrow {
                display: flex;
                justify-content: space-evenly;
                width: 72%;
                margin-left: 16rem;
                margin-top: 2.24rem;
                @include suggestion();

                & div:nth-child(2) {
                    transform: translateX(-2rem);
                }
                & div:nth-child(3) {
                    transform: translateX(-4rem);
                }
                & div:nth-child(4) {
                    transform: translateX(-6.5rem);
                }
            }
        }
    }
    &__CheckBoxes {
    }
}
